.tokens {
  border-radius: 32px 0 0 0;
  min-height: 100vh;
  background-color: #f7f7fb;
  padding: 64px 128px;
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
  align-items: center;
}

.sort {
  justify-self: end;
}
.token {
  padding: 24px;
  border-radius: 16px;
  background-color: #fff;
  margin-bottom: 8px;
}

@media screen and (max-width: 1400px) {
  .tokens {
    padding: 64px 104px;
  }
}
@media screen and (max-width: 1200px) {
  .tokens {
    padding: 64px;
  }
}

@media screen and (max-width: 992px) {
  .tokens {
    border-radius: 0;
    padding: 32px;
  }
  .title {
    margin-left: 64px;
  }
}

@media screen and (max-width: 640px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 40px;
  }
  .sort,
  .title {
    justify-self: center;
    margin: 0;
  }
  .title {
    margin-bottom: 16px;
  }
}
