.tokens {
  border-radius: 32px 0 0 0;
  min-height: 100vh;
  background-color: #F7F7FB;  
  padding: 64px 128px;
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
}
.title {
}
.sort {
  justify-self: end;
}
.token {
  padding: 24px;
  border-radius: 16px;
  background-color: #fff;
  margin-bottom: 8px;
}
