.link {
  color: var(--white);
  text-decoration: none;
  & .active {
    color: var(--black);
  }
}

.button {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  padding: 18px 24px;
  width: 224px;
  background-color: transparent;
  border: none;
  border-radius: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: var(--white);
  cursor: pointer;

  &:hover:not(.active) {
    border: 1px solid var(--white);
    padding: 17px 23px;
  }
}
.active {
  background: var(--white);
  & svg {
    fill: #6347f5;
  }
}

.title {
  margin-left: 24px;
}
