.token {
  display: grid;
  grid-template-columns: 35px 48px repeat(5, 219.4px) 32px;
  grid-template-areas:
    'id logo name price volume tvl users action'
    'description description description description description description description description';
  gap: 0 12px;
  align-items: center;
  background-color: var(--white);
}
.id {
  grid-area: id;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;

  display: flex;
  align-items: center;
  color: #93949d;
}
.logo {
  grid-area: logo;
  width: 40px;
  height: 40px;
}
.name {
  grid-area: name;
  font-weight: 500;
  font-size: 21px;
  line-height: 25.2px;
}
.name div:last-child {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--primary);
}

.price {
  grid-area: price;
  color: var(--primary);
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  white-space: nowrap;
}

.volume {
  grid-area: volume;
  white-space: nowrap;
}

.volumeCurrent,
.tvlCurrent {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #000000;
  margin-right: 16px;
}
.tvl {
  grid-area: tvl;
  white-space: nowrap;
}
.users {
  grid-area: users;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  letter-spacing: 0em;

}
.action {
  grid-area: action;
}
.description {
  grid-area: description;
  display: none;
}
.opened {
  display: block;
  padding-top: 24px;
}

.priceChange {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;  
  letter-spacing: 0.02em;
}

.dot {
  margin: 0 6px;
  text-align: left;
}

.volumeChange,
.tvlCurrentPercent {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: var(--primary);
}
.users {
  display: flex;
  align-items: center;
}
.userLogo {
  margin-right: 8px;
}
.arrowBtn {
  background: transparent;
  border: none;
  padding: 0;
}

.arrowBtn .opened{
  transform: rotate(180deg);
}

@media screen and (max-width: 1400px) {
  .token {
    grid-template-columns: auto 40px 1fr 1fr 1fr 32px;
    grid-template-areas:
      'id id name price users .'
      'logo logo volume tvl users action'
      ' description description description description description description';
    gap: 8px 12px;
  }

  .users {
    justify-content: center;
  }
}
@media screen and (max-width: 1200px) {
  .token {
    grid-template-columns: auto 40px 1fr 1fr;
    grid-template-areas:
      'id id name price'
      'logo logo volume tvl'
      'logo logo . .'
      'users . . action'
      ' description description description description';
  }
  .action {
    justify-self: end;
  }
}
@media screen and (max-width: 992px) {
  .token {
    gap: 8px 8px;
  }
}
@media screen and (max-width: 640px) {
  .token {
    gap: 8px 8px;
  }
  .token {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'id .'
      'name name'
      'logo price'
      'volume tvl'
      'users action'
      'description description';
  }
  .name {
    display: flex;
    justify-content: space-between;
  }
  .tvl,
  .price {
    justify-self: end;
  }
  .users {
    justify-content: start;
  }
}
