.token {
  display: grid;
  grid-template-columns: auto 40px 1fr 1fr 1fr 1fr 1fr 32px;
  grid-template-areas:
    'id logo name price volume tvl users action'
    'description description description description description description description description';
  gap: 0 12px;
  align-items: center;
  background-color: var(--white);
}
.id {
  grid-area: id;
}
.logo {
  grid-area: logo;
  width: 40px;
  height: 40px;
}
.name {
  grid-area: name;
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
}
.price span {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.02em;
}

.price {
  grid-area: price;
  color: var(--primary);
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  white-space: nowrap;
}

.volume {
  grid-area: volume;
  white-space: nowrap;
}

.volumeCurrent,
.tvlCurrent {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #000000;
  margin-right: 16px;
}
.tvl {
  grid-area: tvl;
  white-space: nowrap;
}
.users {
  grid-area: users;
}
.action {
  grid-area: action;
}
.description {
  grid-area: description;
  display: none;
}
.opened {
  display: block;
  padding-top: 24px;
}

.priceChange {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}
.priceChange span:not(:last-child) {
  margin-right: 17px;
}

.priceChange span {
  position: relative;
}

.priceChange span:not(:first-child):before {
  content: '';
  background: #93949d;
  position: absolute;
  border-radius: 50%;
  top: calc(50% - 1px);
  margin: 0 1px;
  left: -11px;
  width: 3px;
  height: 3px;
}
.volumeChange,
.tvlCurrentPercent {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: var(--primary);
}
.users {
  display: flex;
  align-items: center;
}
.userLogo {
  margin-right: 12px;
}
.arrowBtn {
  background: transparent;
  border: none;
}
@media screen and (max-width: 1400px) {
  .token {
    grid-template-columns: auto 40px 1fr 1fr 1fr 32px;
    grid-template-areas:
      'id id name price users .'
      'logo logo volume tvl users action'
      ' description description description description description description';
    gap: 8px 12px;
  }

  .users {
    justify-content: center;
  }
}
@media screen and (max-width: 1200px) {
  .token {
    grid-template-columns: auto 40px 1fr 1fr;
    grid-template-areas:
      'id id name price'
      'logo logo volume tvl'
      'logo logo . .'
      'users . . action'
      ' description description description description';
  }
  .action {
    justify-self: end;
  }
}
@media screen and (max-width: 992px) {
  .token {
    gap: 8px 8px;
  }
}
@media screen and (max-width: 640px) {
  .token {
    gap: 8px 8px;
  }
  .token {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'id .'
      'name name'
      'logo price'
      'volume tvl'
      'users action'
      'description description';
  }
  .name {
    display: flex;
    justify-content: space-between;
  }
  .tvl,
  .price {
    justify-self: end;
  }
  .users {
    justify-content: start;
  }
}
