.layout {
  display: grid;
  max-width: 1920px;
  margin: 0 auto;
  grid-template-columns: 320px 1fr;
  grid-template-areas: 'menu children';
  background: linear-gradient(200deg, #b380fd 12%, #6347f5 78%);
}

.menu {
  grid-area: menu;
  margin: 0;
}
.children {
  grid-area: children;
}

@media screen and (max-width: 992px) {
  .layout {
    grid-template-columns: 0 auto;
    grid-template-areas: 'menu children';
  }
  .opened .menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(200deg, #b380fd 12%, #6347f5 78%);
  }
}
